body {
  text-align: center;
  background: radial-gradient(circle, #F8F1F1 0%, #FFECC0 100%);
  margin: 0;
  height: 100vh;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #CE2626;
}

.green {
  background-color: #347433;
}

.blue {
  background-color: #000957;
}

.yellow {
  background-color: #FFDE42;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}



#level-title {
  font-family: "Montserrat", sans-serif; /* Ten sam font co na stronie */
  color: #ffc800;
}
